//ELEMENT COLORS
$element-color: #FFFFFF;
$infobip-color: #FF5A00;
$secondary-color: #000000;
$body-color: #F3F7FB;
$button-primary: #FF5A00;
$button-secondary: #263746;
$main-text-color: #000000;
$infobip-text-color: #FFFFFF;
$paid: #27ae60;
$late: #e74c3c;
$light-orange: coral;
$light-gray: #eee;
$gray: gray;

//TEXT

$text-font-family: 'Open Sans', sans-serif;
$big-text-size: 25px;
$bigger-text-size: 20px;
$normal-text-size: 16px;
$small-text-size: 14px;


