.list-container {
  ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
  }

  .list-header {
    ul {
      display: flex;

      li {
        width: 7.5%;
        text-align: left;
        padding-left: 20px;
        overflow: hidden;
        white-space: nowrap;
        &.options {
          text-align: center;
        }
      }
    }
  }

  .list-body {
    ul {
      li {
        height: 53px;
        text-align: left;
        display: flex;
        background-color: $element-color;
        margin-bottom: 10px;

        &:hover {

        }

        .data {
          width: 7.5%;
          padding-left: 20px;
          overflow: hidden;
          p {
            white-space: nowrap;
          }
          &.menu {
            position: relative;
            padding: 0;
            margin-left: 20px;
            overflow: visible;
            .label-options {
              position: absolute;
              height: 28px;
              width: 26px;
              cursor: pointer;
              border-radius: 50%;
              background-color: $secondary-color;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);

              &:hover {
              }

              .icon-container {
                position: relative;

                &:before {
                  position: absolute;
                  content: '\2807';
                  font-size: 20px;
                  color: white;
                  left: 8px;
                }
              }
            }

            .options {
              position: relative;
              display: none;

              &:checked + .menu-box {
                display: block;
                opacity: 1;
                transition: opacity 0.1s ease-in;
                overflow: visible;
                position: absolute;
                width: auto;
                height: auto;
                top: 50px;
                left: 14px;
                background-color: $infobip-color;
                z-index: 999;
                border-radius: 6px;

                &:after {
                  content: '';
                  position: absolute;
                  width: 0;
                  height: 0;
                  border-left: 8px solid transparent;
                  border-right: 8px solid transparent;
                  border-bottom: 8px solid $infobip-color;
                  top: -8px;
                  right: 23px;
                }
              }
            }

            .menu-box {
              opacity: 0;
              height: 0;
              overflow: hidden;

              p {
                margin: 0;
                padding: 8px 20px;
                color: $infobip-text-color;
                cursor: pointer;
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
                /* Non-prefixed version, currently
                                                 supported by Chrome, Edge, Opera and Firefox */
              }
            }
          }
        }
      }
    }
  }
}
